[Desktop Entry]
Type=Application
Name=YT-DLP GUI
Comment=Download YouTube videos using yt-dlp
Exec=python3 /mnt/Emulators/storage_backup_2026-05-08/Scripts/Linux/YT-DLP_FrontEnd/ytdlp_gui.py
Path=/mnt/Emulators/storage_backup_2026-05-08/Scripts/Linux/YT-DLP_FrontEnd
Icon=/mnt/Emulators/storage_backup_2026-05-08/Scripts/Linux/YT-DLP_FrontEnd/icon.png
StartupWMClass=YT-DLP
Terminal=false
Categories=Network;AudioVideo;
